{
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/github",
      {
        "assets": [
          { "path": "release-assets/output/**" },
          { "path": "release-assets/appinspect.txt" }
        ]
      }
    ]
  ]
}
